.checked {
    color: orange;
}

/* Taken from https://stackoverflow.com/questions/33203148/how-to-make-a-div-box-look-3d */

.filmRow:hover {
    background-color: rgba(250, 248, 248, 0.664);
    box-shadow: outset;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.minHeight {
    min-height: 200px
}

.filmsList {
    margin-top: 20px; 
    border-style:solid; 
    border-color:grey;
    border-width:0.5px;
    border-radius: 1rem; 
}

.filmsListBody {
    max-height: 680px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 10px;
}

.overflow{
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 235px;
    padding-top: 10px;
    background-color: #f8f9fa;
}

.filmButton {
    display: inline-block;
    width:8%;
    padding:0;
    margin-left:2px;
    margin-right:2px;
    border-radius: 5%;
    height: 100%;
    opacity: 0.5;
}

.selected {
    opacity: 1;
}

.unselected {
    opacity: 0.5;
}

.filmSortButton {
    text-decoration: none;
    margin-right: 5px;
}

.defaultMargin {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.textCenter {
    text-align: center;
}

.verticalCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizMargin {
    margin-left: 10px
}

.horizMargin {
    margin-top: 10px
}

.section {
    border-width: 0.5px;
    border-style: solid; 
    border-radius: 0.5rem;
    border-color: lightgrey;
    padding-top: 15px;
    padding-bottom: 15px;
}

.filmListParent{
    width: 90%;
    margin: auto;
}

.filmList {
    max-height: 500px;
    min-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.filmsImage{
    max-width: 400px;
    margin:auto;
}

/* 
The plotPreview class was inspired by https://stackoverflow.com/questions/7993067/text-overflow-ellipsis-not-working
*/

.plotPreview {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.progressBarParent {
    height: auto;
    width: 60%;
    max-width: 100px;
    min-width: 50px;
    margin: auto;
}

@media screen and (max-width: 767px) {
    .progressBarParent {
        width: 50px
    }
  }