/* 
The plotPreview class was inspired by https://stackoverflow.com/questions/7993067/text-overflow-ellipsis-not-working
*/

.plotPreview {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.filmPoster {
    border-radius: 0.3rem;
    padding: 3px;
    object-fit: cover;
    border-style: solid;
    width: 100%;
    border-width: 1px;
    border-color: lightgrey;
    opacity: 0.8;
}

.faded{
    opacity: 0.5;
}

.hover:hover{
    cursor: pointer;
    opacity: 1;
}