.wrapper {
    background-color: white;
    width: 100%; 
    height: 180px;
    position: fixed;
    z-index: 998;
}

.searchComponents {
    padding-top: 100px; 
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 23px;
}

.searchResults {
    margin-top:190px;
}

.suggestions {
    position: absolute;
    z-index: 1000;
    background-color: white;
    width:80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    overflow-x: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

.suggestions p {
    padding: 10px;
    margin: 0;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.suggestions p:hover {
    background-color: #f1f1f1;
}

.searchBar, .searchButton {
    height: 50px;
    width: 100%;
    border-color: lightgray;
}

.searchBar {
    border-radius: 1rem 0 0 1rem;
    border-style: solid;
    border-width: 0.1rem;
    padding: 10px 12px 12px 40px;
    margin-left: 1px;
    background-image: url('https://res.cloudinary.com/dojzptdbc/image/upload/v1733406769/mg_glass_p9yfjb.png');
    background-size: 15;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

.searchBar:focus{
    outline: none;
    border-color: rgb(28, 87, 212);
    box-shadow: 0 0 5px rgba(5, 53, 126, 0.5);
}

.searchButton {
    border-radius: 0 1rem 1rem 0;
    background-color: rgb(236, 234, 234);
}

.searchButton:hover{
    background-color: rgb(187, 182, 182);
    border-color: lightgray;
}

.noBorder {
    border: none;
}
