.underlineSection {
   border-style: none none solid none;
   border-color: lightgrey;
   border-width: 1px;
}

.navBar * {
   --bs-nav-link-hover-color: blue;
}

.navBar *:hover{
   text-decoration: none;
}

.darkBackground {
   background-color: rgba(224, 220, 220, 1);
 }

